.footer_container {
  height: 5.4rem;
  width: 100%;
  background-color: var(--p1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  color: var(--p4);
}

.icon {
  font-size: 1.1rem;
}
.text {
  font-family: "Funnel Display";
}
