.sorter_container {
  height: 14rem;
  width: fit-content;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  border: 2px solid #000000;
  overflow: hidden;
  font-family: "Funnel Display";
  font-size: 1.1rem;
}

.sorter_header {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorter_content {
  height: 60%;
  width: 100%;
  padding: 0 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.array_block {
  border: 2px solid rgb(0, 0, 0);
  height: 3rem;
  aspect-ratio: 1;
  margin: 0 0.1rem;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: all 0.1s ease-in-out; */
}

.highlight {
  background-color: #eccbf7 !important;
}
.completed {
  background-color: #a9fda9 !important;
}

.sorter_footer {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span {
  font-weight: bold;
}
