:root {
  --p1: #a578cc1f;
  --p2: #ce6cb6;
  --p3: #7c3db3;
  --p4: #330a57c7;
}

* {
  box-sizing: border-box;
  transition: all 0.2s ease;
  -webkit-user-drag: none;
}

html,
body {
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--p3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8b52bd;
}

::-webkit-scrollbar-thumb:active {
  background-color: #704299;
}
